* {
    font-family: Verdana; 
    text-align: center;
}

body {
    background-color: black;
    
}

h1, h2, p, footer {
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-size: 21px;
    color: gray;
}

video {
    border: white solid 5px;
}

#footer {
    text-align: right;
}